nav{
    background-color: #7A4D1D;
    height:40px;
}
#navList{
    line-height: 40px;
    font-size:20px;
}
a.navItem{
    display:block;
    width:100px;
    text-decoration: none;
    text-align: center;
}
.navItem:link,.navItem:visited{
    color:white;
}
.navItem{
    float:left;
}
.usrItem{
    float:right;
    color:white;
}

.navItem:hover,.navItem:active{
    background-color: #39C5BB;
}
#this,#this:hover,#this:active{
    background-color: #216353;
}
a.usrItem{
    display: block;
    width:100px;
    text-decoration: none;
    text-align: center;
}
.usrItem:link,.usrItem:visited{
    color:white;
}
.usrItem:hover,.usrItem:active{
    background-color: #39C5BB;
}
.usrItem:hover #usrMenu{
    display:block;
}
#usrMenu{
    display: none;
    position: absolute;
    top:40px;
    background-color: #7A4D1D;
    line-height: 40px;
    font-size:15px;
}
a.menuItem{
    display: block;
    width:100px;
    text-decoration: none;
}
.menuItem:link,.menuItem:visited{
    color:white;
}
.menuItem:hover,.menuItem:active{
    background-color: #39C5BB;
}
.icon{
    float:left;
    position:relative;
    top:10px;
    left:5px;
}
.opt{
    text-align: center;
    position: relative;
    left:15px;
}
#head_img{
    width:60%;
    height:500px;
    margin:0 20% 40px 20%;
}
#background{
    background-image:url("../background/mountain.jpg");
    background-size: cover;
}
#sup{
    float:right;
    position: fixed;
    right: 20px;
    width:60px;
}
#top{
    line-height: 20px;
    font-size:15px;
    margin:5px;
    padding:5px;
    background-color:#D7FFFD;
    border:none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
#refresh{
    font-size:15px;
    margin:5px;
    padding:5px;
    background-color:#D7FFFD;
    border:none;
    border-radius: 5px;
    color:#A6B1E1;
    font-weight: bold;
}
a.top:link,a.top:visited,a.top:hover,a.top:active{
    color:#A6B1E1;
    text-decoration: none;
}
#main{
    margin:0 auto 40px auto;
    padding:40px 10px 20px 10px;
    width:60%;
    background-color: white;
    border-radius: 15px;
}

.cell{
    width:400px;
    height:200px;
    padding: 20px 10px 20px 10px;
    background-color: #F4F4F4;
    border-radius:15px;
    display:inline-block;
    margin:0 10px 40px 10px;
}
.pic{
    width:200px;
    height: 200px;
    float:left;
}
.msg{
    width:200px;
    height:200px;
    display: inline-block;
    float:right;
}
.pic_title{
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}
.pic_detail{
    text-align: justify;
    max-height:135px;
    text-indent: 25px;
    font-size: 15px;
    line-height: 20px;
    padding:5px 10px 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}
.foot{
    text-align: center;
    line-height: 20px;
    font-size:10px;
    background-color: #7A4D1D;
    color: white;
}